body {
  font-family: sans-serif;
  text-align: center;
  margin: 40px;
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  width: max-content; 
}

.timeline-scroll {
  width: 100%;
  height: 800px;
  overflow-x: auto;      /* horizontal scroll */
  overflow-y: visible;
  padding-bottom: 30px;  /* space below labels */
}

.line {
  position: absolute;
  top: 45%;
  left: 0;
  height: 3px;
  width: 100%;
  background:  MidnightBlue;
  z-index: 0;
  flex-shrink: 0;
}

.node {
  position: relative;
  background: white;
  border: 3px solid MidnightBlue;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 30px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  flex-shrink: 0;
}

.node.active {
  background: royalblue;
}

.label-date {
  position: absolute;
  top: -35px;
  width: 100px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.label-item {
  position: absolute;
  top: 35px;
  width: 75px;
  /* border-radius: 20%; */
  /* border: solid royalblue; */;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  overflow-wrap: break-word;
}

input[type=file] {
  margin: 20px;
}

